<header class="header-6">
  <div class="branding">
    <a [routerLink]="['/home']" class="nav-link">
      <span class="title">Blog application</span>
    </a>
  </div>
  <div class="header-nav" [clr-nav-level]="1">
    <a [routerLink]="['/home']" [routerLinkActive]="['active']" class="nav-link nav-text">Home</a>
    <a [routerLink]="['/articles']" [routerLinkActive]="['active']" class="nav-link nav-text">Articles</a>
  </div>
  <div class="header-actions">
    <clr-dropdown clrMenuPosition="bottom-right" *appIsAuthenticated="">
      <button class="nav-icon" clrDropdownToggle>
        <clr-icon shape="user"></clr-icon>
        <clr-icon shape="caret down"></clr-icon>
      </button>
      <div class="dropdown-menu">
        <span class="dropdown-item disabled">Welcome {{profile?.username}}</span>
        <div class="dropdown-divider"></div>
        <a href="" clrDropdownItem [routerLink]="['/profile/edit']" [routerLinkActive]="['active']">Edit profile</a>
        <a href="" clrDropdownItem (click)="logout($event)">Log out</a>
      </div>
    </clr-dropdown>
    <a [routerLink]="['/login']" class="nav-link nav-icon" title="Login" *ngIf="profile == null">
      <clr-icon shape="login"></clr-icon>
    </a>
  </div>
</header>
