<div class="login-wrapper">
  <form class="login" #loginForm="ngForm" (ngSubmit)="onLogin()">
    <label class="title">Blog Application</label>
    <div class="login-group">
      <input class="username" type="email" name="email" placeholder="Email" [(ngModel)]="email" required
             maxlength="128">
      <input class="password" type="password" name="password" placeholder="Password" [(ngModel)]="password" required>
      <div class="checkbox">
        <input type="checkbox" id="rememberme" [(ngModel)]="rememberMe" name="rememberMe">
        <label for="rememberme">
          Remember me
        </label>
      </div>
      <div class="error active" *ngIf="authentication?.error != null">
        {{authentication.error}}
      </div>
      <button type="submit" class="btn btn-primary" [disabled]="!loginForm.valid">LOG IN</button>
      <a href="" [routerLink]="['/register']" class="signup">Sign up for an account</a>
    </div>
  </form>
</div>
