<div class="login-wrapper">
  <form class="login" [formGroup]="form" (submit)="signup(form)">
    <label class="title">Blog application</label>
    <div class="login-group">
      <label for="email"
             role="tooltip"
             class="tooltip tooltip-validation tooltip-md"
             [class.invalid]="isEmailInvalid()">
        <input class="username" id="email" type="email" placeholder="Email" required maxlength="128" formControlName="email">
        <span class="tooltip-content" *ngIf="form.get('email').errors?.required">
          The username is a required field
        </span>
      </label>
      <label for="username"
             role="tooltip"
             class="tooltip tooltip-validation tooltip-md"
             [class.invalid]="isUsernameInvalid()">
        <input class="username" id="username" placeholder="Username" required maxlength="32" formControlName="username">
        <span class="tooltip-content" *ngIf="form.get('username').errors?.required">
          The username is a required field
        </span>
        <span class="tooltip-content" *ngIf="form.get('username').errors?.unique">
          This username is already taken
        </span>
      </label>
      <div formGroupName="password" class="inner-login-group login-group">
        <label for="password"
               role="tooltip"
               class="tooltip tooltip-validation tooltip-md" maxlength="64"
               [class.invalid]="isPasswordInvalid()">
          <input class="password" type="password" id="password" placeholder="Password" required minlength="6" formControlName="password">
          <span class="tooltip-content" *ngIf="isPasswordTooShort()">
            A password should contain at least 6 characters.
          </span>
        </label>
        <label for="password2"
               role="tooltip"
               class="tooltip tooltip-validation tooltip-md"
               [class.invalid]="isPasswordConfirmationInvalid()">
          <input class="password" type="password" id="password2" placeholder="Repeat password" formControlName="password2">
          <span class="tooltip-content" *ngIf="isPasswordNotConfirmed()">
            The passwords do not match.
          </span>
        </label>
      </div>
      <button class="btn btn-primary">Sign up</button>
      <a href="" [routerLink]="['/login']" class="signup">Back to login</a>
    </div>
  </form>
</div>
